@page "/events/{Id:int}"
@using BGHub.FE.Client.Components.GamesComponents
@using BGHub.Models
@using Utils
@rendermode InteractiveAuto

@if (IsLoading)
{
    <p>Loading event details...</p>
}
else if (IsError)
{
    <p>Error fetching events. Please refresh and try again.</p>
}
else
{
    <div class="card mb-4">
        <div class="card-header bg-dark text-white">
            <h5>@Event.Name</h5>
        </div>
        <div class="card-body">
            <p class="card-text">
                <strong>Start Date:</strong> @Event.StartDate.ToString("MMMM dd, yyyy") <br />
                <strong>End Date:</strong> @Event.EndDate.ToString("MMMM dd, yyyy")
            </p>
            <p>
                <strong>Status:</strong>
                @if (Event.StartDate > DateTime.Now)
                {
                    <span class="badge bg-success">Upcoming</span>
                }
                else
                {
                    <span class="badge bg-secondary">Past Event</span>
                }
            </p>
            <p>
                <strong>Location: </strong> 
                @if (Event.LocationLink != null)
                {
                    <a href="@Event.LocationLink" target="_blank">Airbnb</a>
                }
                else
                {
                    <span>No Venue Yet</span>
                }
            </p>
        </div>
        <div class="card-footer">
            <BringGameForm EventInventory="Event.Inventory" HandleGameAdded="HandleGameAdded"/>
            <GamesList EventGames="Event.Inventory" HandleGameDeleted="HandleGameDeleted"/>
        </div>
    </div>

}


@code {
    [Parameter] public int Id { get; set; }
    public bool IsLoading { get; set; } = true;
    public bool IsError { get; set; } = false;

    public Event Event { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var client = new HttpClient();

        var result = await client.GetFromJsonAsync<Event>($"{Utils.BASE_API_URL}/Events/{Id}");

        foreach (var game in result.Inventory)
        {
            Console.WriteLine(game.Game.Id + game.Game.Name);
        }

        if (result == null)
        {
            IsError = true;
        }
        else
        {
            Event = result;
        }

        IsLoading = false;
    }

    private void HandleGameAdded(Game game)
    {
        Event.Inventory.Insert(0, new EventGame{ EventId=Event.Id, GameId=game.Id});
    }
    private void HandleGameDeleted(int gameId)
    {
        var gameToDelete = Event.Inventory.FirstOrDefault(g => g.Id == gameId);
        Event.Inventory.Remove(gameToDelete);
    }
}
