@page "/events/{Id:int}"
@using BGHub.FE.Client.Components.GamesComponents
@using BGHub.Models
@rendermode InteractiveAuto

@if (Event != null)
{
    <div class="card mb-4">
        <div class="card-header bg-dark text-white">
            <h5>@Event.Name</h5>
        </div>
        <div class="card-body">
            <p class="card-text">
                <strong>Start Date:</strong> @Event.StartDate.ToString("MMMM dd, yyyy") <br />
                <strong>End Date:</strong> @Event.EndDate.ToString("MMMM dd, yyyy")
            </p>
            <p>
                <strong>Status:</strong>
                @if (Event.StartDate > DateTime.Now)
                {
                    <span class="badge bg-success">Upcoming</span>
                }
                else
                {
                    <span class="badge bg-secondary">Past Event</span>
                }
            </p>
            <p>
                <strong>Location: </strong> 
                @if (Event.LocationLink != null)
                {
                    <a href="@Event.LocationLink" target="_blank">Airbnb</a>
                }
                else
                {
                    <span>No Venue Yet</span>
                }
            </p>
        </div>
        <div class="card-footer">
            <BringGameForm EventInventory="Games" HandleGameAdded="HandleGameAdded"/>
            <GamesList Games="Games" HandleGameDeleted="HandleGameDeleted"/>
        </div>
    </div>
}
else
{
    <p>Loading event details...</p>
}

@code {
    [Parameter]
    public int Id { get; set; }

    private Event Event { get; set; } = new Event
    {
        Id = 3,
        Name = "February 2025",
        StartDate = new DateTime(2025, 2, 6),
        EndDate = new DateTime(2025, 2, 10),
        LocationLink="https://www.airbnb.co.uk/rooms/603983959452545227?source_impression_id=p3_1738253168_P3ZOU_a5XDDs_UeN",
    };

    private List<Game> Games { get; set; } = new List<Game>
    {
        new Game {Id=3, Name="Nova Luna", Owner=new User{ Id=2, Name="Haz"}, BGGId=284435, ImageUrl="https://cf.geekdo-images.com/k8OZeKYMN2vVSVCl5FD-UA__original/img/XiytG0d5nHtdoN4Kq3pCM6VcSac=/0x0/filters:format(jpeg)/pic5382418.jpg"},
        new Game { Id = 2, Name = "Slay the Spire", Owner = new User { Id = 1, Name = "Rich" }, BGGId = 338960, ImageUrl = "https://cf.geekdo-images.com/PQzVclEoOQ_wr4e1V86kxA__original/img/KXOf1hP1cIJQLabKhZulWP-e9wI=/0x0/filters:format(png)/pic8157856.png" },
        new Game { Id = 1, Name = "Terraforming Mars", Owner = new User { Id = 1, Name = "Rich" }, BGGId = 167791, ImageUrl = "https://cf.geekdo-images.com/wg9oOLcsKvDesSUdZQ4rxw__original/img/thIqWDnH9utKuoKVEUqveDixprI=/0x0/filters:format(jpeg)/pic3536616.jpg" }
    };

    private void HandleGameAdded(Game game)
    {
        Games.Insert(0, game);
    }
    private void HandleGameDeleted(int gameId)
    {
        var gameToDelete = Event.Inventory.FirstOrDefault(g => g.Id == gameId);
        Event.Inventory.Remove(gameToDelete);
    }
}
