@page "/events"
@using BGHub.Models
@using Utils
@rendermode InteractiveAuto

@if (IsLoading)
{
    <p>Loading events...</p>
}
else if (IsError)
{
    <p>Error fetching events. Please refresh and try again.</p>
}
else
{
    <div class="row">
        @foreach (var eventItem in Events)
        {
            <div class="col-md-4 mb-4">
                <EventCard Event="eventItem"/>
            </div>
        }
    </div>
}


@code {
    public List<Event> Events { get; set; } = new List<Event>();
    public bool IsLoading { get; set; }
    public bool IsError { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var client = new HttpClient();

        var result = await client.GetFromJsonAsync<List<Event>>($"{Utils.BASE_API_URL}/Events");

        if (result == null)
        {
            IsError = true;
        }
        else 
        {
            Events = result;
        }

        IsLoading = false;
    }
}
