@page "/"
@using BGHub.Models

<PageTitle>BGHub</PageTitle>

<Header />

<section class="main-content py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card shadow-sm">
                    <img src="Assets/PHOTO-2024-07-28-13-47-31.jpg" alt="Board games" class="card-img-top img-fluid rounded">
                    <div class="card-body">
                        <h5 class="card-title">Discover New Games</h5>
                        <p class="card-text">Browse through a wide range of games, from classics to the latest releases!</p>
                        <a href="https://boardgamegeek.com/" target="_blank" class="btn btn-primary">Explore Games</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card shadow-sm">
                    <img src="Assets/PHOTO-2023-02-09-22-21-00.jpg" alt="Events" class="card-img-top img-fluid rounded">
                    <div class="card-body">
                        <h5 class="card-title">Join Events</h5>
                        <p class="card-text">Participate in exciting events, meet new players, and expand your board game community!</p>
                        <a href=@(loggedInUser != null ? "/events": "/login") class="btn btn-primary">See Events</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card shadow-sm">
                    <img src="Assets/IMG_9411.jpg" alt="Profile" class="card-img-top img-fluid rounded">
                    <div class="card-body">
                        <h5 class="card-title">Your Profile</h5>
                        <p class="card-text">Manage your profile, keep track of your games and events!</p>
                        <a href=@(loggedInUser != null ? "/profile": "/login") class="btn btn-primary">View Profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@code {
    [CascadingParameter] User? loggedInUser { get; set; }
}