<header class="bg-dark text-white text-center py-3 shadow">
    <h1 class="display-6 mb-0">Welcome to BGHub</h1>
    <h2 class="h6">Your one-stop shop for organizing your gaming event!</h2>
</header>

@code {

}
