@using BGHub.Models

<div class="card shadow-sm p-3 mt-4">
    <div class="card-body">
        <h3 class="card-title mb-3">Current Bring List</h3>
        @if (Games.Any())
        {
            <ul class="list-unstyled">
                @foreach (Game game in Games)
                {
                    <GameCard Game="game"/>
                }
            </ul>
        }
        else
        {
            <p class="text-muted">No games have been added yet. Be the first to bring one!</p>
        }
    </div>
</div>

@code {
    public List<Game> Games { get; set; } = new List<Game>
    {
        new Game {Id=3, Name="Nova Luna", Owner=new User{ Id=2, Name="Haz"}, BGGId=284435, ImageUrl="https://cf.geekdo-images.com/k8OZeKYMN2vVSVCl5FD-UA__original/img/XiytG0d5nHtdoN4Kq3pCM6VcSac=/0x0/filters:format(jpeg)/pic5382418.jpg"},
        new Game {Id=2, Name="Slay the Spire", Owner=new User{ Id=1, Name="Rich"}, BGGId=338960, ImageUrl="https://cf.geekdo-images.com/PQzVclEoOQ_wr4e1V86kxA__original/img/KXOf1hP1cIJQLabKhZulWP-e9wI=/0x0/filters:format(png)/pic8157856.png"},
        new Game {Id=1, Name="Terraforming Mars", Owner=new User{ Id=1, Name="Rich"}, BGGId=167791, ImageUrl="https://cf.geekdo-images.com/wg9oOLcsKvDesSUdZQ4rxw__original/img/thIqWDnH9utKuoKVEUqveDixprI=/0x0/filters:format(jpeg)/pic3536616.jpg"},
    };
}
