@using BGHub.FE.Models
@using BGHub.Models
@using System.Text.Json
@using System.Xml
@using Newtonsoft.Json

<li class="mb-4">
    <div class="card shadow-sm rounded">
        <div class="card-header bg-primary text-white">
            <h5 class="card-title mb-0">@Game.Name</h5>
        </div>
        <div class="card-body">
            <p class="card-text text-muted">Owned by: @Game.Owner.Name</p>
        </div>
        <img src="@Game.ImageUrl" alt="@Game.Name box art" class="img-fluid rounded mb-3 card-img" />
        @if (Game.Owner.Name == LoggedInUser)
        {
            <button @onclick="DeleteGame" class="btn btn-danger btn-sm mt-2">Remove</button>
        }
    </div>
</li>

@code {
    public string LoggedInUser = "Rich"; // update to link to session info

    [Parameter] public Game Game { get; set; }

    [CascadingParameter] public EventCallback<int> HandleGameDeleted { get; set; }

    private async Task DeleteGame()
    {
        await HandleGameDeleted.InvokeAsync(Game.Id);
        // Call to DB to delete game from event
    }
}
