@using BGHub.Models

<div class="card shadow-sm p-3 mt-4">
    <div class="card-body">
        <h3 class="card-title mb-3">Current Bring List</h3>
        @if (Games.Any())
        {
            <ul class="list-unstyled">
                @foreach (Game game in Games)
                {
                    <GameCard Game="game" HandleGameDeleted="DeleteGame"/>
                }
            </ul>
        }
        else
        {
            <p class="text-muted">No games have been added yet. Be the first to bring one!</p>
        }
    </div>
</div>

@code {
    [Parameter] public List<Game> Games { get; set; }

    [Parameter] public EventCallback<int> HandleGameDeleted { get; set; }

    private async Task DeleteGame(int id)
    {
        await HandleGameDeleted.InvokeAsync(id);
    }
}
